<section class="chance" id="mechanic">
    <div class="container">
        <div class="chance__header section__header">
            <div class="section__header-text">Как будем разыгрывать?</div>
            <div class="section__header-title">
                <h2 class="section__header-title-text">Больше <span>матчей,</span> больше шансов выиграть!</span></h2>
                <div class="section__header-title-desc">Каждый новый «домашний матч» ХК Амур — это ваш шанс выиграть квартиру. Розыгрыш будет проводиться в три этапа:</div>
            </div>
        </div>

        <div class="chance__items">
            <div class="chance__item item--big">
                <div class="chance__item-step">
                    <div class="chance__item-number">01</div>
                    <div class="chance__item-title">Отбор финалистов</div>
                </div>
                <div class="chance__item-content">
                    <div class="chance__item-desc">
                        Отбор в финал будет проводиться на каждом «домашнем» матче, после окончания регистрации участников и до окончания второго периода матча. С помощью рандомайзера будут определены два полуфиналиста, которые примут участие в конкурсе на выход в финал. 
                    </div>
                    <div class="chance__item-desc">Финалистом станет тот, кто забросит шайбу в проём в специальном щите, который закрывает ворота (диаметром в две шайбы) от центральной точки хоккейной площадки. У каждого полуфиналиста будет по две попытки.</div>
                </div>
            </div>
            <div class="chance__item item--accent">
                <div class="chance__item-step">
                    <div class="chance__item-number">02</div>
                    <div class="chance__item-title">Определение победителя</div>
                </div>
                <div class="chance__item-content">
                    <div class="chance__item-desc">
                        Победитель определится в последнем «домашнем» матче 
                        с помощью лототрона, личное присутствие участников обязательно. За каждым финалистом будет закреплён купон, все купоны смешиваются вручную, определение победителя происходит путём случайного выбора купона из лототрона.
                    </div>
                </div>
            </div>
            <div class="chance__item">
                <div class="chance__item-step">
                    <div class="chance__item-number">03</div>
                    <div class="chance__item-title">Вручение приза</div>
                </div>
                <div class="chance__item-content">
                    <div class="chance__item-desc">
                        <div class="chance__item-desc">Финалистом станет тот, кто забросит шайбу в проём в специальном щите, который закрывает ворота (диаметром в две шайбы) от центральной точки хоккейной площадки. У каждого полуфиналиста будет по две попытки.</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="chance__bottom">
            <div class="chance__bottom-text">В случае несоответствия победителя условиям участия, победитель будет переизбран в аналогичном порядке до тех пор, пока не будет выбран участник, соответствующий условиям акции.</div>
        </div>
    </div>
</section>