<section class="faq" id="faq">
    <div class="container">
        <div class="section__header faq__header">
            <div class="section__header-text">частые вопросы</div>
            <div class="section__header-title">
                <h2 class="section__header-title-text">Отвечаем на ваши <span>вопросы</span></h2>
            </div>
        </div>

        <div class="faq__block">
            <div class="faq__items">
                <div class="faq__item">
                    <div class="faq__item-header">
                        <div class="faq__item-title">Кто может участвовать в акции?</div>
                        <div class="faq__item-toggler">
                            <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="25" cy="25" r="25" transform="rotate(90 25 25)" fill="#D80024"/>
                                <path d="M24.9999 15V35M24.9999 35L33.3333 26.6667M24.9999 35L16.6666 26.6667" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>                                
                        </div>
                    </div>
                    <div class="faq__item-bottom">
                        <div class="faq__item-content">
                            Двухкомнатная квартира (евроформата), 38 м²;
                            ЖК Чемпион, г. Хабаровск, ул. Совхозная-Трехгорная;
                            Сдача дома — 4 квартал 2025 года;
                            Застройщик ООО СЗ ДОМ АРТ ДВ.
                        </div>
                    </div>
                </div>
                <div class="faq__item">
                    <div class="faq__item-header">
                        <div class="faq__item-title">Кто может участвовать в акции?</div>
                        <div class="faq__item-toggler">
                            <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="25" cy="25" r="25" transform="rotate(90 25 25)" fill="#D80024"/>
                                <path d="M24.9999 15V35M24.9999 35L33.3333 26.6667M24.9999 35L16.6666 26.6667" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>                                
                        </div>
                    </div>
                    <div class="faq__item-bottom">
                        <div class="faq__item-content">
                            Двухкомнатная квартира (евроформата), 38 м²;
                            ЖК Чемпион, г. Хабаровск, ул. Совхозная-Трехгорная;
                            Сдача дома — 4 квартал 2025 года;
                            Застройщик ООО СЗ ДОМ АРТ ДВ.
                        </div>
                    </div>
                </div>
                <div class="faq__item">
                    <div class="faq__item-header">
                        <div class="faq__item-title">Кто может участвовать в акции?</div>
                        <div class="faq__item-toggler">
                            <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="25" cy="25" r="25" transform="rotate(90 25 25)" fill="#D80024"/>
                                <path d="M24.9999 15V35M24.9999 35L33.3333 26.6667M24.9999 35L16.6666 26.6667" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>                                
                        </div>
                    </div>
                    <div class="faq__item-bottom">
                        <div class="faq__item-content">
                            Двухкомнатная квартира (евроформата), 38 м²;
                            ЖК Чемпион, г. Хабаровск, ул. Совхозная-Трехгорная;
                            Сдача дома — 4 квартал 2025 года;
                            Застройщик ООО СЗ ДОМ АРТ ДВ.
                        </div>
                    </div>
                </div>
                <div class="faq__item">
                    <div class="faq__item-header">
                        <div class="faq__item-title">Кто может участвовать в акции?</div>
                        <div class="faq__item-toggler">
                            <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="25" cy="25" r="25" transform="rotate(90 25 25)" fill="#D80024"/>
                                <path d="M24.9999 15V35M24.9999 35L33.3333 26.6667M24.9999 35L16.6666 26.6667" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>                                
                        </div>
                    </div>
                    <div class="faq__item-bottom">
                        <div class="faq__item-content">
                            Двухкомнатная квартира (евроформата), 38 м²;
                            ЖК Чемпион, г. Хабаровск, ул. Совхозная-Трехгорная;
                            Сдача дома — 4 квартал 2025 года;
                            Застройщик ООО СЗ ДОМ АРТ ДВ.
                        </div>
                    </div>
                </div>
                <div class="faq__item">
                    <div class="faq__item-header">
                        <div class="faq__item-title">Кто может участвовать в акции?</div>
                        <div class="faq__item-toggler">
                            <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="25" cy="25" r="25" transform="rotate(90 25 25)" fill="#D80024"/>
                                <path d="M24.9999 15V35M24.9999 35L33.3333 26.6667M24.9999 35L16.6666 26.6667" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>                                
                        </div>
                    </div>
                    <div class="faq__item-bottom">
                        <div class="faq__item-content">
                            Двухкомнатная квартира (евроформата), 38 м²;
                            ЖК Чемпион, г. Хабаровск, ул. Совхозная-Трехгорная;
                            Сдача дома — 4 квартал 2025 года;
                            Застройщик ООО СЗ ДОМ АРТ ДВ.
                        </div>
                    </div>
                </div>
                <div class="faq__item">
                    <div class="faq__item-header">
                        <div class="faq__item-title">Кто может участвовать в акции?</div>
                        <div class="faq__item-toggler">
                            <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="25" cy="25" r="25" transform="rotate(90 25 25)" fill="#D80024"/>
                                <path d="M24.9999 15V35M24.9999 35L33.3333 26.6667M24.9999 35L16.6666 26.6667" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>                                
                        </div>
                    </div>
                    <div class="faq__item-bottom">
                        <div class="faq__item-content">
                            Двухкомнатная квартира (евроформата), 38 м²;
                            ЖК Чемпион, г. Хабаровск, ул. Совхозная-Трехгорная;
                            Сдача дома — 4 квартал 2025 года;
                            Застройщик ООО СЗ ДОМ АРТ ДВ.
                        </div>
                    </div>
                </div>
                <div class="faq__item">
                    <div class="faq__item-header">
                        <div class="faq__item-title">Кто может участвовать в акции?</div>
                        <div class="faq__item-toggler">
                            <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="25" cy="25" r="25" transform="rotate(90 25 25)" fill="#D80024"/>
                                <path d="M24.9999 15V35M24.9999 35L33.3333 26.6667M24.9999 35L16.6666 26.6667" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>                                
                        </div>
                    </div>
                    <div class="faq__item-bottom">
                        <div class="faq__item-content">
                            Двухкомнатная квартира (евроформата), 38 м²;
                            ЖК Чемпион, г. Хабаровск, ул. Совхозная-Трехгорная;
                            Сдача дома — 4 квартал 2025 года;
                            Застройщик ООО СЗ ДОМ АРТ ДВ.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>