<section class="fond" id="fond">
    <div class="container">
        <div class="fond__header section__header">
            <div class="section__header-text">Призовой фонд</div>
            <div class="section__header-title">
                <h2 class="section__header-title-text"><span>Квартира</span> в г. Хабаровске</h2>
                <ul class="list-reset section__header-list">
                    <li class="section__header-item">Двухкомнатная квартира (евроформата), 38 м²;</li>
                    <li class="section__header-item">ЖК Чемпион, г. Хабаровск, ул. Совхозная-Трехгорная;</li>
                    <li class="section__header-item">Сдача дома — 4 квартал 2025 года;</li>
                    <li class="section__header-item">Застройщик ООО СЗ ДОМ АРТ ДВ.</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="fond__slider">
        <div class="swiper fond__swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide fond__slide">
                    <div class="fond__slide-img">
                        <img src="../img/fond/1.jpg" alt="">
                    </div>
                </div>
                
                <div class="swiper-slide fond__slide">
                    <div class="fond__slide-img">
                        <img src="../img/fond/2.webp"  alt="">
                    </div>
                </div>

                <div class="swiper-slide fond__slide">
                    <div class="fond__slide-img">
                        <img src="../img/fond/3.webp" alt="">
                    </div>
                </div>

                <div class="swiper-slide fond__slide">
                    <div class="fond__slide-img">
                        <img src="../img/fond/4.webp" alt="">
                    </div>
                </div>

               
            </div>
        </div>

        <div class="fond__slider-nav">
            <div class="fond__slider-nav-btn prev-fond">
                <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="25" cy="25" r="25" transform="rotate(-180 25 25)" fill="#D80024"/>
                    <path d="M35 25.0002L15 25.0002M15 25.0002L23.3333 33.3335M15 25.0002L23.3333 16.6668" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>    
            </div>
            <div class="fond__slider-nav-btn next-fond">
                <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="25" cy="25" r="25" fill="#D80024"/>
                    <path d="M15 24.9998H35M35 24.9998L26.6667 16.6665M35 24.9998L26.6667 33.3332" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg> 
            </div>
        </div>
    </div>
</section>