<section class="hero">
    <div class="container hero__container">
        <div class="hero__top">
            <h1 class="hero__title">Амур-чемпион</h1>
        </div>
        <div class="hero__wrapper">
            <div class="hero__right">
                <div class="hero__img">
                    <img src="../img/hero-img.png" width="900" height="900" alt="">
                </div>
            </div>
            <div class="hero__left">
                <div class="hero__time">Сроки проведения акции: с 15.09.2024 по 15.04.24.</div>
                <div class="hero__subtitle">Болей за ХК Амур и выигрывай</div>
                <div class="hero__accent">квартиру</div>
                <div class="hero__subtitle">В ЖК Чемпион</div>

                <div class="hero__bottom">
                    <div class="hero__desc">
                        Да! Это правда! Мы разыгрываем квартиру в ЖК Чемпион 
                        в г. Хабаровске среди посетителей домашних матчей ХК “Амур”
                    </div>
                    <div class="hero__buttons">
                        <button type="button" class="btn-reset btn hero__btn" data-btn-modal>Зарегистрироваться</button>
                        <a data-scroll href="#howplay" class="btn-reset btn--border hero__btn">узнать подробнее</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="line" aria-hidden="true">
    <div class="swiper line__swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide line__slide">
                выигрывай квартиру! <span>/</span>
            </div>
            <div class="swiper-slide line__slide">
                участвуй в розыгрыше <span>/</span>
            </div>
            <div class="swiper-slide line__slide">
                выигрывай квартиру! <span>/</span>
            </div>
            <div class="swiper-slide line__slide">
                участвуй в розыгрыше <span>/</span>
            </div>
            <div class="swiper-slide line__slide">
                выигрывай квартиру! <span>/</span>
            </div>
            <div class="swiper-slide line__slide">
                участвуй в розыгрыше <span>/</span>
            </div>
            <div class="swiper-slide line__slide">
                выигрывай квартиру! <span>/</span>
            </div>
            <div class="swiper-slide line__slide">
                участвуй в розыгрыше <span>/</span>
            </div>
        </div>
    </div>
</section>