<section class="steps" id="howplay">
    <div class="container steps__container">
        <div class="section__header steps__header">
            <div class="section__header-text">Как участвовать?</div>
            <div class="section__header-title">
                <h2 class="section__header-title-text">3 шага до <span>квартиры</span> в Хабаровске</h2>
                <a href="/pravila.html" class="section__header-title-link">
                    Ознакомиться с правилами проведения акции
                    <svg width="22" height="19" viewBox="0 0 22 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 9.49996H21M21 9.49996L12.6667 1.16663M21 9.49996L12.6667 17.8333" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </a>
            </div>
        </div>

        <div class="steps__items">
            <div class="steps__item">
                <div class="steps__item-number">01</div>
                <div class="steps__item-title">Купить билет</div>
                <div class="steps__item-desc">Покупайте билеты/абонементы 
                    на «домашние» матчи  ХК Амур
                    в рамках Регулярного Чемпионата Континентальной хоккейной лиги сезона 2024-2025 гг.</div>
            </div>
            <div class="steps__item">
                <div class="steps__item-number">02</div>
                <div class="steps__item-title">Зарегистрироваться</div>
                <div class="steps__item-desc">
                    Приходите на матчи ХК Амур 
                    в «Платинум Арена», регистрируйте 
                    своё участие в розыгрыше по QR-коду. Регистрация участников открывается 
                    в день проведения матча и доступна 
                    до окончания первого периода.
                </div>
            </div>
            <div class="steps__item">
                <div class="steps__item-number">03</div>
                <div class="steps__item-title">Вы участвуете <br/> в розыгрыше!</div>
                <div class="steps__item-desc">
                    Розыгрыш квартиры в ЖК Чемпион будет проводиться в два этапа: отбор финалистов и определение победителя.
                </div>
                <a data-scroll href="#mechanic" class="btn-reset btn steps__item-btn">подробнее</a>
            </div>
            </div>
        </div>
    </div>
</section>